body{
    background-image: linear-gradient(rgb(46, 8, 46), rgb(248, 222, 227));
}

h1{
    color: red;
}

h2{
    color: blue;
}

ul{
    color: blueviolet;
}

img{
    border: double 4px yellow;
    padding: 30px;
    margin: 20px;
    width: 50%;
}